In [1]:
import numpy as np
import pandas as pd
import json, ast

In [2]:
pwd

'/Users/mingyuanma/Desktop/HAI'

In [3]:
class allaction():
    
    def __init__(self, file):
        self.df = pd.read_csv(file) 
        self.orderId, self.taskId, self.taskTicks, self.workerId, self.workerTicks = [], [], [], [], []
        self.ResponseId, self.Round, self.Tick = [], [], []
        
    def parse(self):
        # all id + 1, leaving 0 to be idle
        action = self.df
        for i in np.arange(action.shape[0]):
            row = action.iloc[i,:]
            for act in ["action1", "action2", "action3"]:
                # when there is no action in this act
                if type(row[act]) != str:
                    self.orderId.append(0)
                    self.taskId.append(0)
                    self.taskTicks.append(0)
                    self.workerId.append(0)
                    self.workerTicks.append(0)
                else:
                    a = ast.literal_eval(row[act])
                    self.orderId.append(a["order_id"] + 1)
                    self.taskId.append(a["task_id"] + 1)
                    self.taskTicks.append(a["task_ticks"])
                    self.workerId.append(a["worker_id"])
                    self.workerTicks.append(a["worker_ticks"])

                self.ResponseId.append(row["ResponseId"])
                self.Round.append(row["round"])
                self.Tick.append(row["tick"])
                
    def get(self):
        self.parse()
        d = {
            "ResponseId": self.ResponseId,
            "round": self.Round,
            "tick": self.Tick,
            "orderId": self.orderId, 
            "taskId": self.taskId, 
            "taskTicks": self.taskTicks, 
            "workerId": self.workerId, 
            "workerTicks": self.workerTicks
        }
        return pd.DataFrame(d)

In [16]:
pd.read_csv(file1)["action1"][]

"{'order_id': 0, 'order_name': 'burger', 'task_id': 0, 'task_name': 'chop meat', 'task_ticks': 2, 'worker_id': 0, 'worker_type': 'chef', 'worker_ticks': 0}"

In [13]:
file1, file2 = "../data/phase1/phase1_action.csv", "phase2_action.csv"

In [7]:
action1, action2 = allaction(file1).get(), allaction(file2).get()

In [9]:
action1

,ResponseId,round,tick,orderId,taskId,taskTicks,workerId,workerTicks
0,R_0uOsLe6BeLnUee5,1,1,1,1,2,0,0
1,R_0uOsLe6BeLnUee5,1,1,2,1,2,1,0
2,R_0uOsLe6BeLnUee5,1,1,0,0,0,0,0
3,R_0uOsLe6BeLnUee5,1,2,3,1,2,2,0
4,R_0uOsLe6BeLnUee5,1,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...
100561,R_zTlbYwl8ijcujhn,6,33,0,0,0,0,0
100562,R_zTlbYwl8ijcujhn,6,33,0,0,0,0,0
100563,R_zTlbYwl8ijcujhn,6,34,4,3,2,1,0
100564,R_zTlbYwl8ijcujhn,6,34,0,0,0,0,0
100565,R_zTlbYwl8ijcujhn,6,34,0,0,0,0,0

In [8]:
action2

,ResponseId,round,tick,orderId,taskId,taskTicks,workerId,workerTicks
0,R_09f8RCjNyCadwPv,1,1,1,1,2,0,0
1,R_09f8RCjNyCadwPv,1,1,2,1,2,1,0
2,R_09f8RCjNyCadwPv,1,1,3,1,2,2,0
3,R_09f8RCjNyCadwPv,1,2,0,0,0,0,0
4,R_09f8RCjNyCadwPv,1,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...
586921,R_zffMypmlgQF5Yl3,6,37,0,0,0,0,0
586922,R_zffMypmlgQF5Yl3,6,37,0,0,0,0,0
586923,R_zffMypmlgQF5Yl3,6,38,4,3,2,1,0
586924,R_zffMypmlgQF5Yl3,6,38,0,0,0,0,0
586925,R_zffMypmlgQF5Yl3,6,38,0,0,0,0,0

In [10]:
labeled1 = pd.read_csv("label_before.csv").iloc[:,[1,2]]
labeled1 = labeled1.rename(columns = {"Unnamed: 2":"label"})
id1 = labeled1["ResponseId"]
for idd in np.array(action1["ResponseId"]):
    assert idd in np.array(id1)

In [15]:
combined1 = action1.merge(labeled1, how="left", left_on="ResponseId", right_on="ResponseId")
combined1.to_csv("combined1", index=False)

In [13]:
labeled2 = pd.read_csv("label_after.csv").iloc[:,[1,2]]
id2  = labeled2["ResponseId"]
for idd in np.array(id2):
    if idd not in np.array(action2["ResponseId"]):
        print(idd)

R_1M40hSm4fF4Saxv
R_2TubkB3iax1plbW
R_2xJmlBU8Zb4aJvc
R_3iR9itgPOynBYMn
R_sOsH3zTwAGZhbWN
R_xbYWVMdjF5uBGsF
R_1QnZ8b8cEMPe02V
R_31yNUzSekU84Hw4
R_3jSDfOgoAarWXIE
R_1lgauUFXXpKyJMo
R_2pMfrA2ZNJxPNls
R_3I67XeesY6GTGJ1
R_3gMaIAd7QB61Hxv
R_DPqHtf8JZp8H7Dr
R_1dERIxZ9c01DvjU
R_DN5q8faRDJstJSN
R_Umcy1jqw4j78LVn
R_12hke46Au8zA62U
R_1dEM7uIYAy39pNE
R_1nPcNRfxC1xNmNG
R_2P6V4Qg6Cjrsdeu
R_2SlvBQWZPwzG9Em
R_2frnduP7YkrqJfC
R_30ofTrQj8ZpkhWQ
R_31iyFFuqLPKT5b6
R_3E40kJ32k2zHBy9
R_QbPgp45v2e84Dhn
R_wMLKVPSqS2sUVq1
R_3J7Qhi4qsUVzrur
R_3Jz6NJjTKoLnvhL
R_3QRIjM2i7YYkcrW
R_3k7L9zfa9KfV12j
R_2VOnYAtnAp1sb0J
R_2WMSjPN4Tyz9oKl
R_2vjexRmJwjYFOvv
R_3GrzufHFdktNvNU
R_3IQQuIC0BevoKeB
R_3fdfe4FHzOCtcA4
R_3iWLRfZm6Au1qRt
R_2D7XLLYmBreBi1t
R_2vk1hthUj2uRVYM
R_3J7Xxq1ph7IUToz
R_3ktRhm3lifQFTVD
R_2Vf01KGZrR5fscp
R_38EvwAyoLTJRsZP

In [16]:
combined2 = action2.merge(labeled2, how="inner", left_on="ResponseId", right_on="ResponseId")
combined2.to_csv("combined2.csv", index=False)